.problemimg{
    width: 30;
    height: 30;
    margin-left:auto;
    margin-right:auto;
}
.resultimg{
    width: 30;
    height: 30;
    margin-left:auto;
    margin-right:auto;
}

.data{
   margin-left:auto;
   margin-right:auto;
   text-align :center; 
}
