
img{
  margin: auto;/* 여백은 자동 조절*/
 display: block; 
 text-align: center; 
}

body{
  background-color : #70D2B4; /* 배경화면 배경 색 지정*/

}

/*header단 설정 */
.header{
text-align: center;/*글자 가운데 정렬 */
}

/*footer 설정 */
.footer{
text-align: center;/*글자 가운데 정렬 */
}

#page_information{
  align-items: center;
  text-align: center;
  margin-right: 15px;
}

/*표 설정 */
table, td, th {
background-color : #FFA500;	/*표 색 지정*/
margin-left:auto; /*왼쪽 여백 자동 조절*/
margin-right:auto;/*오른쪽 여백 자동 조절*/
border-collapse : collapse;
border : 1px solid black;


}

/*google-font 설정 */

.nanum-myeongjo-regular {
font-family: "Nanum Myeongjo", serif;
font-weight: 1000;
font-style: normal;
font-size: 20px;
text-align : center;
}

.roboto-slab {
font-family: "Roboto Slab", serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-size: 30px;
text-align : center;

}
